
.cs{
   background-image:linear-gradient(to top , #f8b1958a ,  #f6727f80 ,  #c06c84c4  , #6c5b7bd2  , #355b7dd8  ),
}
.token{
  display: block;
  overflow-x: scroll;
}
@media only screen and (max-width: 320px) {
  .token {
    overflow: scroll;
  }
}
@media only screen and (max-width: 480px) {
  .token {
    overflow: scroll;
  }
}